<?xml version="1.0"?>

<config>
    <modules>
        <Esellers_Ipay>
            <version>1.1.0</version>
        </Esellers_Ipay>
    </modules>
    <frontend>
        <routers>
            <ipay>
                <use>standard</use>
                <args>
                    <module>Esellers_Ipay</module>
                    <frontName>ipay</frontName>
                </args>
            </ipay>
        </routers>
        <default>
            <router>ipay</router>
        </default>
        <layout>
            <updates>
                <ipay>
                    <file>ipay.xml</file>
                </ipay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ipay>
                    <file>ipay.xml</file>
                </ipay>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <rewrite>
            <esellers_ipay_shipment>
               <from><![CDATA[#^/admin/sales_order_shipment/addTrack/#]]></from>
               <to>/ipay/sales_order_shipment/addTrack/</to>
               <from><![CDATA[#^/admin/sales_order_shipment/save/#]]></from>
               <to>/ipay/sales_order_shipment/save/</to>
            </esellers_ipay_shipment>
        </rewrite>
        <models>
            <ipay>
                <class>Esellers_Ipay_Model</class>
                <resourceModel>ipay_mysql4</resourceModel>
            </ipay>
            <ipay_mysql4>
                <class>Esellers_Ipay_Model</class>
                <entities>
                    <ipay>
                        <table>ipay_ipay</table>
                    </ipay>
                </entities>
            </ipay_mysql4>
        </models>
        <resources>
            <ipay_setup>
                <setup>
                    <module>Esellers_Ipay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ipay_setup>
            <ipay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ipay_write>
            <ipay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ipay_read>
        </resources>
        <blocks>
            <ipay>
                <class>Esellers_Ipay_Block</class>
            </ipay>
        </blocks>
        <helpers>
            <ipay>
                <class>Esellers_Ipay_Helper</class>
            </ipay>
        </helpers>

	<events>
            <sales_order_payment_cancel>
                <observers>
                    <esellers_ipay_observer>
                        <type>singleton</type>
                        <class>Esellers_Ipay_Model_Observer</class>
                        <method>cancel</method>
                    </esellers_ipay_observer>
                </observers>
            </sales_order_payment_cancel>
	    <sales_order_invoice_register>
                <observers>
                    <esellers_ipay_observer>
                        <type>singleton</type>
                        <class>Esellers_Ipay_Model_Observer</class>
                        <method>registerInvoice</method>
                    </esellers_ipay_observer>
                </observers>
	    </sales_order_invoice_register>
            <sales_order_shipment_save_after>
                <observers>
                    <esellers_ipay_observer>
                        <type>singleton</type>
                        <class>Esellers_Ipay_Model_Observer</class>
                        <method>startShipment</method>
                    </esellers_ipay_observer>
                </observers>                
            </sales_order_shipment_save_after>
	</events>                                       
    </global>
    <default>
        <ipay>
            <style>
                <logo>nowAccepting_150x60</logo>z`
            </style>            
            <activity>
                <enabled>0</enabled>
                <width>200</width>
                <height>300</height>  
                <header>1</header>                        
                <color>light</color>     
                <recommendations>1</recommendations> 
                <maxage>0</maxage>                
            </activity>            
        </ipay>
        <payment>
            <ipay>
                <active>1</active>
                <model>ipay/paymentMethod</model>
                <order_status>pending</order_status>
                <title>ipay</title>
                <allowspecific>0</allowspecific>  
                <cancelrestriction>1</cancelrestriction>   
                <address_required>1</address_required>           
            </ipay>
        </payment>
    </default>
</config>
