<?xml version="1.0"?>

<config>
    <modules>
        <Esellers_Aboutep>
            <version>1.1.0</version>
        </Esellers_Aboutep>
    </modules>
    <frontend>
        <routers>
            <aboutep>
                <use>standard</use>
                <args>
                    <module>Esellers_Aboutep</module>
                    <frontName>aboutep</frontName>
                </args>
            </aboutep>
        </routers>
        <default>
            <router>aboutep</router>
        </default>
        <layout>
            <updates>
                <aboutep>
                    <file>aboutep.xml</file>
                </aboutep>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <aboutep>
                    <file>aboutep.xml</file>
                </aboutep>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <aboutep>
                <class>Esellers_Aboutep_Model</class>
                <resourceModel>aboutep_mysql4</resourceModel>
            </aboutep>
            <createep>
                <rewrite>
                    <po>Esellers_Aboutep_Model_Createep</po>
                    <!-- statement>Unirgy_DropshipPo_Model_Statement</statement -->
                </rewrite>
            </createep>            
            
        </models>
        <resources>
            <aboutep_setup>
                <setup>
                    <module>Esellers_Aboutep</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aboutep_setup>
            <aboutep_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aboutep_write>
            <aboutep_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aboutep_read>
        </resources>
        <blocks>
            <aboutep>
                <class>Esellers_Aboutep_Block</class>
            </aboutep>
        </blocks>
        <helpers>
            <aboutep>
                <class>Esellers_Aboutep_Helper</class>
            </aboutep>
        </helpers>                                    
    </global>
    <default>
        <aboutep>
            <ENABLED>1</ENABLED>
            <DBEngine>
                <fullepurl>{{base_url}}/ep.txt</fullepurl>
                <shortepurl>{{base_url}}/ep_summary.txt</shortepurl>
            </DBEngine>            
        </aboutep>
    </default>
 

</config>