<?xml version="1.0"?>
<config>
    <modules>
        <Esellers_Naverep>
            <version>1.1.0</version>
        </Esellers_Naverep>
    </modules>
    <frontend>
        <routers>
            <naverep>
                <use>standard</use>
                <args>
                    <module>Esellers_Naverep</module>
                    <frontName>naverep</frontName>
                </args>
            </naverep>
        </routers>
        <default>
            <router>naverep</router>
        </default>
        <layout>
            <updates>
                <naverep>
                    <file>naverep.xml</file>
                </naverep>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <naverep>
                    <file>naverep.xml</file>
                </naverep>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <naverep>
                <class>Esellers_Naverep_Model</class>
                <resourceModel>naverep_mysql4</resourceModel>
            </naverep>
            <createep>
                <rewrite>
                    <po>Esellers_Naverep_Model_Createep</po>
                    <!-- statement>Unirgy_DropshipPo_Model_Statement</statement -->
                </rewrite>
            </createep>            
            
        </models>
        <resources>
            <naverep_setup>
                <setup>
                    <module>Esellers_Naverep</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </naverep_setup>
            <naverep_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </naverep_write>
            <naverep_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </naverep_read>
        </resources>
        <blocks>
            <naverep>
                <class>Esellers_Naverep_Block</class>
            </naverep>
        </blocks>
        <helpers>
            <naverep>
                <class>Esellers_Naverep_Helper</class>
            </naverep>
        </helpers>                                    
    </global>
    <default>
        <naverep>
            <ENABLED>1</ENABLED>
            <DBEngine>
                <fullepurl>{{base_url}}/ep.txt</fullepurl>
                <shortepurl>{{base_url}}/ep_summary.txt</shortepurl>
            </DBEngine>            
        </naverep>
    </default>
</config>